<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71188129492-778e1kke4012j86dcpehjvit1oqlr96g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71188129492-778e1kke4012j86dcpehjvit1oqlr96g</string>
	<key>API_KEY</key>
	<string>AIzaSyB2c8KvyhlFNrnZpf6YUM3e_pYa14p7y-o</string>
	<key>GCM_SENDER_ID</key>
	<string>71188129492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dizzy.pandemic-helper</string>
	<key>PROJECT_ID</key>
	<string>newsstorage-94584</string>
	<key>STORAGE_BUCKET</key>
	<string>newsstorage-94584.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71188129492:ios:c36aba019cb58172853d41</string>
	<key>DATABASE_URL</key>
	<string>https://newsstorage-94584.firebaseio.com</string>
</dict>
</plist>